
label {
  display: inline-block;
  width: 100%;
}
input[type=radio] {
  display: none;
}
input[type=radio]:checked + label {
  background: #678DB2;
  color: white;
}
img {
  vertical-align: middle;
  margin: 2px 4px;
}
.menu {
  float: left;
  width: 18%;
  margin: 1%;
  background: white;
  height: 98%;
  border: solid 1px;
}
.content {
  float:left;
  width: 78%;
  height: 98%;
  margin-top: 1%;
  overflow: auto;
}
.content iframe {
  width: 100%;
  height: 98%;
  border: solid 1px;
  overflow: auto;
}
