body {
  background: none repeat scroll 0 0 #FFFEDF;
  margin: 0px;
}
#section {
  margin: 1em 1em 1em;
  background: none repeat scroll 0 0 #FFFFFF;
  box-shadow: 0 0.3em 1em #000000;
  padding: 0px;
  position: relative;
}
#dialog {
  width: 600px;
  margin: 15px auto 5px;
  background: #EEEEEE;
  padding: 10px;
  border: 2px solid #000080;
}
table.dialog {
  color: #000080;
  width: 100%;
}
form {
  margin: 0px;
}
td.progressbar {
  background:#000080;
}
div.progressbar {
  background:#00FF00;
  width:0%;
  padding:0;
}
td.field {
  background:#FFFFFF;
  border:1px solid #808080;
}
div {
  margin: 0;
  padding: 0.8em;
}
iframe {
  /* overflow: scroll; */
  background: #FFFFFF;
}
h1 {
  color: #000080;
  background: #EEEEEE;
  text-align: center;
  border-bottom: 6px double;
  padding: 5px;
  margin: 0;
}
hr {
  background: url('/images/separator.png') no-repeat center;
  border: 0;
  padding: 2px;
}
table {
  margin-left: auto;
  margin-right: auto;
}
footer {
  position: absolute;
  right: 0;
  left: 0;
  margin: 1em 0 0;
  padding: 0.5em;
}
footer a {
  color: #080;
  font-weight: bold;
  text-decoration: none;
  margin: 0 1em;
}
#stats td {
  padding: 2px 10px;
}
#stats th {
  background: #CCC;
}
#stats a {
  color: #000;
  text-decoration: none;
}
img.checkclr {
  background-image:url('/images/check-clr.png');
}
img.checkset {
  background-image:url('/images/check-set.png');
}
img.checkunk {
  background-image:url('/images/check-unk.png');
}
